.footer-container {
  background-color: var(--low-opacity-background);
  height: 2rem;
  width: 100%;
  position: absolute;
  bottom: 0px;
  /* border-top: var(--border); */
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}

.footer-container h5 {
  margin: 0px;
}