.hamburger-menu-container {
  position: absolute;
  top: 4rem;
  left: -15rem;
  background-color: var(--bonko-non-opaque-background);
  /* border-radius: .25rem; */
  /* border-radius: 0px 6px 6px 0px; */
  height: calc(100vh - 8rem);
  width: 15rem;
  z-index: 3;
  padding-right: 1rem;
  box-sizing: border-box;
  transition-duration: .25s;
}

.hamburger-active {
  left: 0px;
  transition-duration: .25s;
}

.hamburger-menu-header-container {
  height: 8rem;
  border-bottom: var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.hamburger-menu-body-container {
  /* padding: 1rem; */
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: left;
  border-bottom: var(--border);
}

.hamburger-menu-body-item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0rem 1rem;
  /* justify-content: space-around; */
  align-items: center;
}

.hamburger-menu-body-item h3 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.hamburger-menu-body-item:hover {
  background-color: var(--low-opacity-background);
  transition-duration: .1s;
  cursor: pointer;
}