.login-body-container {
  position: relative;
  padding: 4rem 16rem;
  box-sizing: border-box;
  min-height: calc(100vh - 8rem);
  width: 100%;
  z-index: 3;
}

.login-content-container {
  display: flex;
  flex: 1;
}

.login-bonko-logo-container {
  width: 100%;
  height: calc(100vh - 8rem);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-bonko-logo {
}

.login-bonko-logo img {
  object-fit: contain;
  width: 100%;
  height: 30vh;
  animation: bonko-float 3s infinite ease-in-out;
  filter: hue-rotate(var(--primary-hue-rotate));
}

.login-bonko-menu-container {
  min-width: 10%;
  min-height: 10vh;
  text-align: right;
}

.login-bonko-menu-container h1 {
  font-size: 3rem;
  color: var(--bonko-text);
}

.login-bonko-menu-container h1:hover,
h3:hover {
  cursor: pointer;
  color: var(--bonko-primary);
  margin-right: 0.5rem;
  transition-duration: 0.5s;
  text-shadow: 0.5rem 1px rgba(0, 0, 0, 0.05);
  color: var(--bonko-dark-text);
}

.login-bonko-menu-container h1:not(:hover),
h3:not(:hover) {
  transition-duration: 0.5s;
}

.login-bonko-text {
  margin: 0px;
}
